.main-title {
  text-align: center;
  font-size: 64px;
  border: solid 6px rgb(0, 44, 125);
  border-radius: 12px;
  background-image: linear-gradient(red, brown);
  color: white;
  padding: 1rem 3rem;
  width: fit-content;
  margin: 6rem auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.03), 0px 2px 30px rgba(0, 0, 0, 0.08),
    0px 0px 1px rgba(0, 0, 0, 0.03);
}
